:root {
  --color-white: #ffffff;
  /* --color-blue-100: #e5f3fc;
  --color-blue-300: #5fa8d3;
  --color-blue-400: #1b4965; */
    --color-blue-100: #F5F4F0;
  --color-blue-300: #C39D88;
  --color-blue-400: #56443f;
  --color-red: #dc3545;
  --color-green: #07962d;
  --container-width: 1000px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
select {
  color: inherit;
  font-family: inherit;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

.auth-page {
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 340px;
  margin-bottom: 30px;
}

.form-control {
  border-radius: 5px;
  background-color: var(--color-blue-100);
}

.custom-button {
  background-color: var(--color-blue-400);
  border-color: var(--color-blue-400);
  color: var(--color-white);
  padding: 10px 30px;
}

.custom-button:hover {
  background-color: var(--color-blue-300);
  border-color: var(--color-blue-300);
  color: var(--color-white);
}